@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NunitoSans';
    src: url('/src/assets/fonts/nunito_sans.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NunitoSans', sans-serif;
}